<div class="chat-container">
  <div class="chat-window-container" *ngIf="isAuthenticated">
    <div class="main-chat">
      <h1 class="text-center mb-4"><i class="fa fa-comments"></i>Mathematik KI-Chat</h1>

      <div class="chat-window">
        <!-- Loop through messages and display them -->
        <div *ngFor="let message of messages"
             [ngClass]="{'user-message': message.role === 'user', 'assistant-message': message.role === 'assistant'}">
          <p class="message-content">{{ message.content }}</p>
        </div>
      </div>
      <div class="chat-input input-group mt-3">
        <textarea [(ngModel)]="userMessage" placeholder="Geben Sie Ihr Matheproblem ein …" class="form-control"
                  (keyup.enter)="sendMessage()" rows="3"></textarea>
        <button (click)="sendMessage()" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Senden</button>
      </div>
    </div>
    <aside>
      <!-- chat.component.html -->
      <div class="recommendations-window mt-3 categories-section">
          <h2><i class="fa fa-lightbulb"></i>{{ username }}'s Fragestatistik</h2>
          <ul>
            <li *ngFor="let category of categories">
              {{ category.name }}
              <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width]="category.percentage + '%'"
                     [attr.aria-valuenow]="category.percentage" aria-valuemin="0" aria-valuemax="100">
                  {{ category.percentage }}%
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="recommendations-window mt-3 recommendations-section">
          <h2><i class="fa fa-lightbulb"></i> Personalisierte Empfehlung</h2>
          <div *ngIf="recommendations" class="recommendations-content">
            <div *ngFor="let recommendation of recommendations" class="recommendation-card">
              <p *ngIf="recommendation.category !== 'null'" class="category-title">{{ recommendation.category }}:</p>
              <ul class="recommendation-list">
                <li *ngFor="let l of recommendation.links">
                  <a href="{{l.link}}" class="recommendation-link">
                    <i class="fa fa-book"></i> {{ l.title }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>



    </aside>
  </div>

  <div *ngIf="!isAuthenticated" class="alert alert-warning mt-4">
    <i class="fa fa-exclamation-triangle"></i> Please login to use the math solver.
  </div>
</div>
