<footer class="footer">
  <div class="footer-content">
    <div class="row">
      <div class="col">
        <h5>Mathematik KI-Rechner</h5>
        <p>
          Ihr zuverlässiger Assistent zum schrittweisen Lösen mathematischer Probleme. Bietet individuelle Lernunterstützung und Empfehlungen.
        </p>
      </div>

      <div class="col">
        <h5>Schneller Zugriff</h5>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a routerLink="/login">Einloggen</a>
          </li>
          <li>
            <a routerLink="/register">Registrieren</a>
          </li>
        </ul>
      </div>

      <div class="col">
        <h5>Kontakt</h5>
        <ul>
          <li>
            <i class="fa fa-envelope"></i>
            {{ 'sara.sahrij980@gmail.com' }}
          </li>
          <li>
            <i class="fa fa-phone"></i> +49 178 1970842
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    &copy; 2025 Mathematik KI-Rechner. By Sara Sahrij.
  </div>
</footer>
